:root {
    --background: #e99f4c;
    --bg: #f2ebe9;
    --tileBg: #264143;
    --fontColor: #151515;
    --lightAccent: #eddcd9;
    --accentColor: #de5499;
    --accentColor2: #D4EAC8;
    --headerFooter: 15%;
}